.item {
  text-align: center;
}

.availability {
  background-color: red;
  border-radius: 5px;
}

.green {
  background-color: green;
}
mat-grid-tile {
  background: lightblue;
  border-radius: 5px;
}
.list{
  max-height: 80vh;
  overflow: auto;
}
