mat-drawer-container {
  height: 100%;
}

.content {
  height: 100%;
}

.list-item {
  background-color: lightgray;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: gray;
  }
}
.active{
  background-color: #a8dab5;
}
