<router-outlet></router-outlet>
<div class="content">
  <mat-toolbar>
    <span>Vasyl Zdendiak app</span>
    <button mat-icon-button class="example-icon" (click)="openBucket()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <mat-list>
        <div *ngFor="let group of categories$ | async"
             class="list-item"
             [ngClass]="{'active': group.category == this.selectedCategory.category}"
             (click)="filterItems(group)">
          <mat-list-item>{{group.category}}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-catalog
        [catalog]="items$ | async"
        [currentPage]="currentPage"
        [totalSize]="totalSize"
        [pageSize]="pageSize"
        (searchFilterChanged)="searchFilter.next($event)"
        (pageChanged)="handlePage($event)"
        (itemSelected)="addToBucket($event)"
      ></app-catalog>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
